* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  :root{
    font-family: 'Mulish', sans-serif;
  }
  
  body {
    background: #121214;
    display: grid;
    justify-content: center;
    padding: 72px 104px;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    margin-top: 62px;
    
  
    gap: 48px 60px;
  }
  
  .card {
    background: #202024;
    border: 2px solid #323238;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card h2 {
    color: #E1E1E6;
    font-weight: 900;
    font-size: 36px;
    padding: 24px 32px 0;
    font-family: 'Mulish';
  }
  
  .card p {
    color: #C4C4CC;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 32px 32px;
    font-family: 'Mulish';
  }
  header h1{
    color: #02799D;
    line-height: 600;
    line-height: 40px;
    font-size: 58.2px;
    font-family: 'Mulish';
  }
  header h2{
    font-family:'Mulish' ;
    font-size: 32px;
    font-weight: 600;
    color: #E1E1E6;
    margin-top: 12px;
  }